.root {
    -fx-background-color: lightyellow;
}

.icon-car {
    -fx-background-image: url("https://use.fontawesome.com/releases/v5.14.0/svgs/solid/car.svg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: top right;
    -fx-background-size: 50px 50px;
}
.rezerviraj-gumb{
    -fx-background-color: rgb(255, 153, 153);
}

.rezerviraj-gumb:hover {
    transition-duration: 0.1s;
    -fx-background-color: #4CAF50; /* Green */
    color: white;
}
